.main-title+.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .auth-form {
        background-color: var(--form-bg);
        width: 60%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.116);

        .input-colaction {
            padding: 5px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            label {
                font-size: 1.3rem;
                padding: 5px 0;
                color: var(--main-color);
                font-weight: 700;
            }

            input {
                border: .5px solid var(--main-color);
                width: 100%;
                padding: 10px 20px;
                border-radius: 10px;
                outline: none;
                font-size: 18px;

                &:focus,
                &.valid {
                    border: .5px solid var(--main-color-alt);
                }

                &.not-valid {
                    border: .5px solid red;
                }

            }


        }

        .error {
            font-weight: 500;
            color: red;
            padding: 10px 20px;
        }

        .btn {
            display: block;
            color: white;
            font-weight: 600;
            font-size: 18px;
            padding: 10px 50px;
            margin: 10px auto;
            background-color: var(--main-color);
            transition: background-color 200ms ease-in-out;

            &:hover {
                background-color: var(--main-color-alt);
            }
        }

        .go-back {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            font-size: 1.1rem;
            font-weight: 700;
            color: var(--main-color-alt);
            cursor: pointer;
            transition: color var(--main-transition) ease-in-out;

            &:hover {
                color: var(--main-color);
            }
        }

        .toggel-password {
            color: var(--main-color-alt);
            font-size: 1.2rem;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: color var(--main-transition) ease-in-out;

            &:hover {
                color: var(--main-color);
            }
        }
    }

    @media (max-width: 994px) {
        & {
            width: 80%;
        }
    }

    @media (max-width: 767px) {
        & {
            width: 90%;
        }
    }

    @media (max-width: 550px) {
        & {
            width: 100%;
        }
    }

}

html[lang="ar"] {
    .toggel-password {
        left: 18px;
    }
}

html[lang="en"] {
    .toggel-password {
        right: 5px;
    }
}