.download-app {
    & .content {
        & h4 {
            font-size: 5rem;
            color: var(--main-color);
            padding: 10px;
        }

        & h6 {
            color: var(--main-color);
            font-size: 2rem;
            font-weight: 500;

            span {
                letter-spacing: 0px;
                font-size: 1.8rem;
                font-weight: 400;
            }
        }

        & p {
            font-size: 1.5rem;
            letter-spacing: 1px;
            line-height: 1.8;
            font-weight: 400;
        }

        & .button {
            background-color: var(--main-color);
            color: white;
            display: flex;
            width: 60%;
            padding: 5px 10px;
            margin: 10px auto;
            border-radius: 10px;
            text-decoration: none;
            transition: all var(--main-transition) ease-in-out;

            &:hover {
                box-shadow: 0 0 5px 2px white;
                transform: scale(.9);
            }

            & img {
                width: 80px;
            }

            & p {
                width: calc(100% - 80px);
                margin: 0;
                font-size: 1.5rem;

                & span {
                    font-weight: 900;
                    font-size: 1.7rem;
                }
            }
        }
    }

}