.error_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        & h3 {
            color: var(--main-color);
            font-size: 5rem;
        }

        & h4 {
            color: var(--main-color);
            font-size: 3.5rem;
            line-height: 1.4;
        }

        & p {
            color: #696969;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    & .foot_content {
        padding-top: 35px;

        & h3 {
            color: var(--main-color);
            font-size: 2rem;
            text-align: center;
        }

        & .links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 2rem;

            & li .link {
                font-size: 1.5rem;
                color: var(--main-color);
                font-weight: 600;
                text-decoration: none;
                transition: all var(--main-transition) linear;

                &:hover {
                    transform: scale(.9)
                }
            }
        }

    }

}